.bg-faded {
    background-color: #f7f7f7
}

.badge-default {
    background-color: #636c72;
}

.file-uploader-preview {
    position: relative;
}

.file-uploader-preview-badge {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

label {
    cursor: pointer;
    margin: 0;
}

input[type=file] {
    display: none;
}

