<div class="d-inline-flex flex-column p-3 align-items-center">
  <!-- EDITOR SECTION -->
  <div class="bg-faded mb-3 d-flex justify-content-center align-items-center" 
       [ngStyle]="{'width': width * 2 + 'px','height': height + 'px'}">
    <div class="d-flex flex-row" 
         [ngClass]="{'invisible': !cropperData.image}"
         *ngIf="!cloudinaryData && !uploading">
      <!-- CROPPER SECTION -->
      <img-cropper #cropper [image]="cropperData" [settings]="cropperSettings"></img-cropper>
      <!-- PREVIEW SECTION -->
      <div class="file-uploader-preview" *ngIf="cropperData.image">
        <img [src]="cropperData.image" 
             [width]="cropperSettings.croppedWidth" 
             [height]="cropperSettings.croppedHeight">
        <span class="file-uploader-preview-badge badge badge-danger">PREVIEW</span>
      </div>
      <div class="file-uploader-preview-empty" 
           *ngIf="!cropperData.image" 
           [ngStyle]="{'width': width * 2 + 'px','height': height + 'px'}" 
           class="bg-info"></div>
      <!-- THUMBNAIL RESULT -->
    </div>
    <cl-image *ngIf="cloudinaryData" 
          [public-id]="cloudinaryData.public_id" class="thumbnail inline" format="jpg">
          <cl-transformation height="100" width="100" crop="fill" effect="sepia"></cl-transformation>
          <cl-transformation overlay="text:arial_20:Thumbnail" gravity="north" y="20"></cl-transformation>
    </cl-image>
    
    <h3 *ngIf="uploading"><span class="badge badge-default">UPLOADING IMAGE</span></h3>
  </div>

  <!-- BUTTONS -->
  <div class="d-flex flex-row justify-content-center">
      <label 
          for="{{ fileUploadUniqueId }}" class="btn btn-primary">
          <span *ngIf="!cropperData.image">Select Image to Upload</span>
          <span *ngIf="cropperData.image">Replace Image</span>
      </label>
      <input type="file"
              [disabled]="uploading" 
              id="{{ fileUploadUniqueId }}" 
              (change)="onFileSelected($event)">
  
      <button class="ml-3 btn btn-success" 
              *ngIf="cropperData.image" 
              [disabled]="uploading" 
              (click)="uploadImage()">Upload Image</button>
  </div>

</div>
    






